.table-body{
width: 100%;
margin: 20px;



}
.new-items{
  padding: 10px;
  margin-bottom:10px;

}
.new-items a{
  text-decoration: none;
  background-color:#f4e1d2;
  color:#800080;
  padding: 10px;
  border:2.0px solid #800080;
  border-radius:10px;
}
.new-items a:hover{
background-color:white;
}
form{
float: right;

}
form.filter input[type=text] {
padding: 10px;
background-color:white;
color:#800080;
padding: 10px;
border:2.0px solid #800080;
border-radius:10px;


}
form.filter::after {
    content: "";
    clear: both;
    display: table;
}
#table-items{
  width:90%;
  align-self: center;
  left:20px;
  right:20px;
}
#table-items th{
  background-color:#800080 ;
  text-align: center;
  color:white;
  padding:10px;

}
#table-items td{
  padding: 10px;
  border-left:0.2px solid black;
  border-bottom:2.0px solid #f4e1d2;
}
#table-items td a{
  text-decoration: none;

}
#table-items td:hover{
padding: 11px;
background-color:#f4e1d2;
border-bottom:1px solid black;
}
#delete{
  border-color:#640E0E;
  border-radius:20px;
  color:red;
  text-align: center;
  background-color:#f4e1d2;
  }
#delete a{
color:red;
  }
#delete:hover{
background-color:white;
border-radius: 10px;
color:red;
    }
#update{
  background-color:#f4e1d2;
border-radius: 10px;
color:blue;
      }
#delete:hover{
background-color:white;
border-radius: 10px;
color:red;
}
#cart{
  border-color:#640E0E;
  border-radius:20px;
  color:red;
  text-align: center;
  background-color:#f4e1d2;
  }
#cart a{
  color:black;
}
